#content{
background-color: aqua;	
width: 20rem;
height: 20rem;
display: flex;
justify-content: flex-start;	
}
.part1{
	width: 50%;
	height: 50%;
	transition: width 2s, height 2s,border-radius 2s, transform 2s;
	background-color: aquamarine;
	animation: changeColor 5s;
	animation-direction:alternate;
	animation-fill-mode: both;
}
.part2{
	width: 25%;
	height: 25%;
	border: #00FFFF 0.0625rem solid;
	border-radius: 50%;
	background-color:#7FFFD4;
}

@keyframes changeColor{
	0%{background-color: burlywood; border-radius: 0%;transform: rotate(0deg);}
	25%{background-color: cyan; border-radius: 20%;transform: rotate(90deg)}
	75%{background-color: darkcyan;border-radius: 40%;transform: rotate(270deg)}
	100%{background-color: darkkhaki;border-radius: 50%;transform: rotate(360deg)}
}
@keyframes h1change{
	0%{transform: rotate(0deg);}
	25%{transform: rotate(90deg)}
	100%{transform: translate(50rem,20rem)}
	
}
h1{
	animation: h1change 5s;
}